<ul class="w-full flex flex-col mb-2">
    {% for error in form.non_field_errors %}
        <div class="border border-red-800 dark:border-red-400 p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            {{ error|escape }}
        </div>      
    {% endfor %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="border border-red-800 dark:border-red-400 p-4 mb-4 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
                <span class="font-medium">{{ field.label }}</span>: {{ error|escape }}
            </div>
        {% endfor %}
    {% endfor %}
</ul>

{% for field in form %}
    
    <div class="mb-6">
        {% if field.widget_type == "checkbox" %}
            <div class="flex items-center gap-2">
                {{ field }}
                <label for="{{ field.id_for_label }}" class="inline-block text-sm font-medium text-gray-900 dark:text-white cursor-pointer"> {{ field.label }} </label>
            </div>
        {% elif field.widget_type == "hidden" %}
            {{ field }}
        {% else %}
            {% if field.field.required %}
                <label for="{{ field.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> {{ field.label }} * </label>
            {% else %}
                <label for="{{ field.id_for_label }}" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"> {{ field.label }} </label>
            {% endif %}
            {{ field }}
        {% endif %}
    </div>
{% endfor %}